.container {
  align-items: flex-start;
  width: 60%;
}

body {
  font-family: arial, sans-serif;
  background: rgba(236, 220, 192, 0.5);
}

 .card {
  border-radius: 12px;
  box-shadow: 4px 8px 12px 4px rgba(24, 23, 21, 0.5);
}

h2 {
  color: #49484A;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 10px 0 0 0;
}

ul {
  padding: 0;
}

li {
  font-size: 16px;
  font-weight: 100;
  height: 20px;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: block;
  color: #B2B0BC;
}

a {
  text-decoration: none;
  cursor: default;
  color: #B2B0BC;
}

#currentPosition{
  margin: 0px auto 5px;
  color: #ec6e4b;
  border-color: #ec6e4b;
  background-color: #FFFFFF;
}

#nameOfCity{
  background-color: #989899;
  border-color: #989899;

}
a:hover{
    color: #ec6e4b;
    
  }

#search-form{
  border-color: #ec6e4b;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 40px auto;
}

#signature {
  padding-top: 10px;
}

#colored-data, .weather-forecast-temperature-max{
  color: #ec6e4b;
  }
  .weather-forecast-temperature-min{
    color: #B2B0BC;
  }

.weather-forecast-date{
  font-weight: 100;
}

  #temperature{
    color: #49484A;
    font-size: 50px;
    line-height: 1;
    font-weight: 400;
    margin-top: 20px;
  
  }

  #icon {
    height: 64px;
    width: 64px;
    vertical-align: middle;

}

.units{
  position: relative;
    font-size: 16px;
    top: -34px;
}
